<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <title>新增数据包信息</title>
    <title>Title</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/fontawesome.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/templatemo-style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/owl.css}" />


    <script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/browser.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/breakpoints.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/transition.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/owl-carousel.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/custom.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>

</head>
<body class="is-preload">
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <a href="home">数据包管理</a>
                </div>
            </header>
<div class="contentDiv">
    <legend>
        <strong>新增数据包信息</strong>
    </legend>

    <form th:action="@{/home/{action}(action=${action})}"  method="post" class="form-horizontal">
        <div class="form-group">
            <label for="user_filename" class="col-sm-2 control-label">数据包名称:</label>
            <div class="col-xs-4">
                <input type="text"  class="form-control" id="user_filename" name="name"  th:value="${home.filename}" th:field="*{home.filename}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="user_filepath" class="col-sm-2 control-label">数据包路径:</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="user_filepath" name="path" th:value="${home.filepath}" th:field="*{home.filepath}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="user_filetype" class="col-sm-2 control-label">数据包类型:</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="user_filetype" name="path" th:value="${home.type}" th:field="*{home.type}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="提交" οnclick="home/adduser/"/>
                <input class="btn " type="button" value="返回" onclick="history.back()"/>
            </div>
        </div>
    </form>
</div>
        </div>
    </div>
            <!-- Sidebar -->
            <div id="sidebar">
                <div class="inner">
                    <!-- Menu -->
                    <nav id="menu">
                        <ul>
                            <li><a href="index">抓包/index</a></li>
                            <li><a href="home">数据包管理/home</a></li>
                            <li><a href="feature">提取特征/feature</a></li>
                            <li><a href="train">数据流量训练模型/train</a></li>
                            <li><a href="model">模型信息管理/model</a></li>
                            <li><a href="test">测试模型/test</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
</body>
</html>
