<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <title>数据包列表</title>
    <title>Title</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/fontawesome.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/templatemo-style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/owl.css}" />
</head>
<body class="is-preload">
<style>
    .jump{
        width: 5%;
        height: 18px;
    }
</style>
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <a href="home">数据包管理</a>
                </div>
            </header>
<div class="contentDiv">
    <h5><strong><font size="5">数据包信息管理系统</font><br/></strong></h5>
    <form action="/home/selectByFT" method="post" >
        <label for="username">查找数据包</label>
        <input name="username" id="username" class="form-control"  type="text" th:value="请输入数据包名" placeholder="请输入数据包名"  />
        <input type="submit" class="button" value="查询" id="btnPost" />
    </form>
   <div id="2" style="margin:10px">
        <div align="center">
            <a  class="btn btn-primary" href="/home/adduser" role="button" style="margin-right:10px;">新增数据包信息</a>
        </div>
    </div>
    <table class="table table-striped table-hover table-bordered" style="table-layout: fixed; word-break:break-all; word-wrap:break-word;" >
        <legend>
            <strong>数据包列表</strong>
        </legend>
        <thead>
        <tr>
            <th>数据名字</th>
            <th>本地地址</th>
            <th>数据类型</th>
            <th>删除</th>
            <th>更新</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="home :${UserList}">
            <td style="width:300px;" th:text="${home.filename}"></td>
            <td style="width:300px;" th:text="${home.filepath}"></td>
            <td style="width:120px;" th:text="${home.type}"></td>
            <td><a class="btn btn-danger" th:href="@{/home/delete/{filename}(filename=${home.filename})}">删除</a></td>
            <td><a class="btn btn-danger" th:href="@{/home/update/{user}(user=${home.filename})}">更新</a></td>
        </tr>
        </tbody>
    </table>
</div>
            <a th:href="@{'/home?pn='+${page.firstPage}}">首页</a>
            <c:if test="${page.hasPreviousPage}"><a th:href="@{'/home?pn='+${page.prePage}}">上一页</a></c:if>

            <c:if test="${page.hasNextPage}"><a th:href="@{'/home?pn='+${page.nextPage}}">下一页</a></c:if>

            <a th:href="@{'/home?pn='+${page.lastPage}}">最后页</a>
            <p>
                <span>共</span>
                <span th:text="${page.pages}"></span>
                <span>页 --当前页是第</span>
                <span th:text="${page.pageNum}"></span>
                <span>页 -- 共有</span>
                <span th:text="${page.total}"></span>
                <span>条数据</span>
                <span>-- 跳转到:
                <input id="jump" class="jump" type="text" value="1"/>页
                <a href="" onclick="getpn(this)">点击跳转</a>
                </span>
            </p>
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <ul>
                <li><a href="index">抓包/index</a></li>
                <li><a href="home">数据包管理/home</a></li>
                <li><a href="feature">提取特征/feature</a></li>
                <li><a href="train">数据流量训练模型/train</a></li>
                <li><a href="model">模型信息管理/model</a></li>
                <li><a href="test">测试模型/test</a></li>
            </ul>
        </nav>
    </div>
</div>

</div>
<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/browser.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/breakpoints.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/transition.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/owl-carousel.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/custom.js}"></script>
<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>

</body>
</html>